@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 20;
}
h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18;
}
p {
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 400;
    padding-right: 80px;
}
.renewables{
    color: green;
}
body {
    background-color: rgb(178, 197, 178);
}
.vega-bind select{
    font-size: 20;
    font-family:Roboto;
}
.vega-bind range{
    font-size: 20px;
    font-family:Roboto;
}
.center{
    text-align:center;
}
.footer{
    background-color: lightgray;
    width: 1300px;
    height: 60px;
}

.banner {
    img{
        width: 1300px;
        height: 250px;
    }
    background-color: white;
    margin: auto;
    width: 1300px;   
    padding-bottom: 20px;
}
.mapAllign{
    margin-left: 50px;
    margin-right: 50px;
}  
.page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.blank{
    width: 1300px;
    height: 40px;
    font-size: 5px;
    font-family:Roboto;

}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}
.small-font {
    font-size: 14px;
}